# python environment specific
*.pyc
/.idea/*
.idea/*
**/__pycache__/
/example_scripts/__pycache__/*
/example_scripts/.ipynb_checkpoints/*
/trained_models/*
/trained_models
/sources
/sources/*

# installation specific
utils/setup/setup_state.txt